painted/node_modules/
painted/out/
promo/node_modules
promo/out/
promo/previews/
promo/audio/music/sf/
promo/audio/vo.wav.bak
promo/yt/src/
promo/yt/mask/
promo/yt/mask_rgba/
gotv/out/
gotv/previews/
gotv/node_modules
gotv/audio/music/sf/
gotv/audio/_mix_stems_v2.npz
gotv4/out/
gotv4/previews/
gotv4/node_modules
gotv4/audio/music/sf/
gotv4/audio/*.npz
gotv4/audio/sfx/
gotv4/audio/music/
gotv/audio/sfx/
gotv/audio/music/
gotv/audio/*.npz

gotv4/yt2/*.raw
gotv4/yt2/src/
gotv4/yt2/mask/
gotv4/yt2/mask_rgba/
gotv4/yt2/*.mp4
*.raw
gotv5/out/
gotv5/previews/
gotv5l/out/
gotv5l/previews/
*.npy
gotv5/audio/v7/samples/
VSCO-2-CE/
connecttv/node_modules
connecttv/out/
connecttv/previews/
connecttv/audio/v7/samples/
connecttv/audio/**/*.wav
connecttv/audio/**/*.npy
connecttv/audio/**/stems/
connecttv/align/__pycache__/
**/__pycache__/
